@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root{
  --primary-w-color: #bbb;
  --secondary-w-color: white;

  --primary-b-color: #1b0386;
  --primary-b-color-light: #2203aa;
  --secondary-b-color: rgb(205, 193, 255);

  --primary-r-color: red;
  --secondary-r-color: rgb(255, 199, 199);

  --primary-o-color: #FFA500;
  --secondary-o-color: #fff3dc; 
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0; 
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
} 
ol, ul {
	list-style: none;  
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body { 
  background-color: #3f3f3f;
}

#root{
  padding-top: 50px;
}

.simple-input{
  background-color: white;
  margin: auto;
  padding: 15px;
  width: 90vw;
  max-width: 690px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.group-control{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-control{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label{
  font-weight: bold;
}

.input{  
  max-width: 310px; 
  outline: none;
  border: 1px solid;
  border-color: var(--primary-w-color);
  background-color: var(--secondary-w-color);
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 5px;
}

.input:focus{
  border-color: var(--primary-b-color);
  background-color: var(--secondary-b-color);
}

.invalid{
  border-color: var(--primary-r-color);
  background-color: var(--secondary-r-color);
}

.invalid:focus{  
  border-color: var(--primary-o-color);
  background-color: var(--secondary-o-color);
}

.error-text{
  color: var(--primary-r-color);
}

.form-actions{ 
  display: flex;
  justify-content: flex-end;
}

button{
  background-color: var(--primary-b-color);
  color: white;
  border: 1px solid var(--primary-b-color);
  border-radius: 5px;
  padding: 10px 26px;
  font-size: 16px; 
  cursor: pointer;
}
button:hover{
  background-color: var(--primary-b-color-light);
}

button:disabled,
button:disabled:hover{
  background-color: var(--primary-w-color);
  color: black;
  border-color: var(--primary-w-color);
  cursor: not-allowed;
}

@media (max-width: 600px){
  .group-control{ 
    grid-template-columns: 1fr;
  }
}